{% extends 'base.html' %}
{% block content %}

<div class="card text-bg-primary mb-3">
    <div class="card-header">
      To Do List
    </div>
    <div class="card-body">
        <ul id="todo-list">
            Here are some of ideas that I haven't implement because of time constraints:<br><br>
            <li>Add login & logout functionality.</li>
            <li>Add a way to upload picture of employee.</li>
            <li>Change the way Performance being handled. Rather than entering total, enter daily total and then sum them.</li>
        </ul>
    </div>
  </div>

See <a href="https://github.com/AfterRain007/Learn-Django/" target="blank">Github</a> for the latest changes
<br>
<br>
Made by Gilang Islamay<br>
For applying to Asia Pulp & Paper

{% endblock %}