{% extends 'base.html' %}

{% block content %}

<h1>Hello Guyss!</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Employment</th>
        <th scope="col">Target</th>
        <th scope="col">Performance</th>
        <th scope="col">Status</th>
        <th scope="col">
            <button style="width: 25px;;height:25px;border-radius:100%;line-height:0px;background-color:#D9D9D9;border:0px;">+</button>
        </th>
      </tr>
    </thead>
    <tbody>

{% if Employee %}
    {% for employee in Employee %}
        <tr>
            <td>{{ employee.Nama }}</td>
            <td>{{ employee.Employment_Status }}</td>
            <td>{% if employee.Employment_Status == "Full-Time" %}
                7500000
                {% elif employee.Employment_Status == "Contract" %}
                5000000
                {% else %}
                3000000
                {% endif %}</td>
            <td>{{ employee.Monthly_Performance }}</td>
            <td>{% if employee.Employment_Status == "Full-Time" and employee.Monthly_Performance >= 7500000 %}
                <div style="width:125px;height:25px;border-radius:20px;text-align:center;line-height:22px;background-color:green">Surpassed</div>
                {% elif employee.Employment_Status == "Contract" and employee.Monthly_Performance >= 5000000 %}
                <div style="width:125px;height:25px;border-radius:20px;text-align:center;line-height:22px;background-color:green">Surpassed</div>
                {% elif employee.Employment_Status == "Internship" and employee.Monthly_Performance >= 3000000 %}
                <div style="width:125px;height:25px;border-radius:20px;text-align:center;line-height:22px;background-color:green">Surpassed</div>
                {% else %}
                <div style="width:125px;height:25px;border-radius:20px;text-align:center;line-height:23px;background-color:red">Below Target</div>
                {% endif %}</td>
            <td><a href="{% url 'updateEmployee' employee.id %}">edit</a></td>
        </tr>
    {% endfor %}

{% endif %}    



{% endblock %}

<style>
    .circle {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid #000;
        text-align: center;
        line-height: 26px; /* Adjust this to vertically center the content */
    }
</style>