{% extends 'base.html' %}
{% block content %}

{% load tz %}
{% get_current_timezone as TIME_ZONE %}

<h2>
{% if 17 >= TIME_ZONE >= 12 %}
    Good Afternoon!
{% elif 24 >= TIME_ZONE >= 17 %}
    Good Evening!
{% else %}
    Good Morning!
{% endif %}</h2>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Employment</th>
        <th scope="col">Target</th>
        <th scope="col">Performance</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>

{% if Employee %}
    {% for employee in Employee %}
        <tr>
            <td>{{ employee.Nama }}</td>
            <td>{{ employee.Employment_Status }}</td>
            <td>{% if employee.Employment_Status == "Full-Time" %}
                Rp 7.500.000
                {% elif employee.Employment_Status == "Contract" %}
                Rp 5.000.000
                {% else %}
                Rp 3.000.000
                {% endif %}</td>
            <td>Rp {{ employee.Monthly_Performance }}</td>
            <td>{% if employee.Employment_Status == "Full-Time" and employee.Monthly_Performance >= 7500000 %}
                <div style="width:125px;height:25px;border-radius:20px;text-align:center;line-height:22px;background-color:green">Surpassed</div>
                {% elif employee.Employment_Status == "Contract" and employee.Monthly_Performance >= 5000000 %}
                <div style="width:125px;height:25px;border-radius:20px;text-align:center;line-height:22px;background-color:green">Surpassed</div>
                {% elif employee.Employment_Status == "Internship" and employee.Monthly_Performance >= 3000000 %}
                <div style="width:125px;height:25px;border-radius:20px;text-align:center;line-height:22px;background-color:green">Surpassed</div>
                {% else %}
                <div style="width:125px;height:25px;border-radius:20px;text-align:center;line-height:23px;background-color:red">Below Target</div>
                {% endif %}</td>
            <td><a href="{% url 'updateEmployee' employee.id %}">edit</a></td>
        </tr>
    {% endfor %}

{% endif %}    



{% endblock %}

<style>
    .circle {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid #000;
        text-align: center;
        line-height: 26px; /* Adjust this to vertically center the content */
    }
</style>