{% extends 'base.html' %}
{% block content %}
{% load static %}

<h2>
    {% now "H" as current_hour %}
    {% if current_hour|add:"0" < 12 %}
      Good Morning!
    {% elif current_hour|add:"0" < 17 %}
      Good Afternoon!
    {% else %}
      Good Evening!
    {% endif %}
</h2>

<div class="table-responsive">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Employment</th>
        <th scope="col">Target</th>
        <th scope="col">Performance</th>
        <th scope="col">Status</th>
        <th scope="col" style="width: 25px"><a href="{% url 'addEmployee' %}"><img src="{% static '/images/vector.svg' %}" class="image" style="width:20px;"></a></th>
      </tr>
    </thead>
<tbody>

{% if Employee %}
    {% for employee in Employee %}
        <tr>
            <td>{{ employee.Nama }}</td>
            <td>{{ employee.Employment_Status }}</td>
            <td>{% if employee.Employment_Status == "Full-Time" %}
                Rp 7.500.000.00
                {% elif employee.Employment_Status == "Contract" %}
                Rp 5.000.000.00
                {% else %}
                Rp 3.000.000.00
                {% endif %}</td>
            <td>Rp {{ employee.Monthly_Performance }}</td>
            <td>{% if employee.Employment_Status == "Full-Time" and employee.Monthly_Performance >= 7500000 %}
                <div style="width:125px;height:25px;border-radius:20px;text-align:center;line-height:22px;background-color:green">Surpassed</div>
                {% elif employee.Employment_Status == "Contract" and employee.Monthly_Performance >= 5000000 %}
                <div style="width:125px;height:25px;border-radius:20px;text-align:center;line-height:22px;background-color:green">Surpassed</div>
                {% elif employee.Employment_Status == "Internship" and employee.Monthly_Performance >= 3000000 %}
                <div style="width:125px;height:25px;border-radius:20px;text-align:center;line-height:22px;background-color:green">Surpassed</div>
                {% else %}
                <div style="width:125px;height:25px;border-radius:20px;text-align:center;line-height:23px;background-color:red">Below Target</div>
                {% endif %}</td>
            <td><a href="{% url 'updateEmployee' employee.id %}"><img src="{% static '/images/editbutton-84380-1@2x.png' %}" class="image" style="width:20px;"></a></td>
        </tr>
    {% endfor %}
{% endif %}    
</div>


{% endblock %}